# ignore all
**

!.gitignore
!.editorconfig

!*.md
!*.tex
!*.latex
!*.bib

!.github/
!.github/workflows
!.github/workflows/**

!.vscode/
!.vscode/**

!assets/
!assets/**

!build/
!build/template.tex
!build/components/
!build/components/*.tex
!build/components/*.cbx

!build/tests/
!build/tests/**
