# ignore all
**

!.gitignore
!.editorconfig

!*.md
!*.tex
!*.latex
!*.bib

!.github/
!.github/workflows
!.github/workflows/**

!.vscode/
!.vscode/**

!assets/
!assets/img/
!assets/img/.gitkeep
!assets/img/*.png
!assets/img/*.jpg

!assets/readme/
!assets/readme/**

!build/
!build/template.tex
!build/components/
!build/components/*.tex
!build/components/*.cbx

!build/tests/
!build/tests/**
